@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <div class="alert alert-block alert-success">
        <button type="button" class="close" data-dismiss="alert">
            <i class="ace-icon fa fa-times"></i>
        </button>

        <i class="ace-icon fa fa-check green"></i>

        Bienvenido(a) al Sistema OneCore Admin

    </div>

    <div class="row">
        <div class="space-6"></div>

        <div class="col-sm-7 infobox-container">
            <div class="infobox infobox-green">
                <div class="infobox-icon">
                    <i class="ace-icon fa fa-users"></i>
                </div>

                <div class="infobox-data">
                    <span class="infobox-data-number">{{activos}}</span>
                    <div class="infobox-content">Usuario Activos</div>
                </div>

                <div class="stat stat-success">{{percactivos}} %</div>
            </div>

            <div class="infobox infobox-blue">
                <div class="infobox-icon">
                    <i class="ace-icon fa fa-users"></i>
                </div>

                <div class="infobox-data">
                    <span class="infobox-data-number">{{inactivos}}</span>
                    <div class="infobox-content">Usuarios Inactivos</div>
                </div>

                <div class="stat stat-important">{{percinactivos}} %</div>
            </div>

            <div class="infobox infobox-pink">
                <div class="infobox-icon">
                    <i class="ace-icon fa fa-users"></i>
                </div>

                <div class="infobox-data">
                    <span class="infobox-data-number">{{total}}</span>
                    <div class="infobox-content">Usuarios Totales</div>
                </div>

                <div class="stat">{{perctotal}} %</div>
            </div>

        </div>

       
    </div><!-- /.row -->
</div>